/*generales*/

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400&display=swap');

html{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
}

body{
    display: block;
    margin: 0px;
}

/* secciones */

.contenedor{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    margin: auto;
    width: 900px;
}

.columnadatos{
    width: 40%;
    background-color:darkseagreen;
    padding: 20px;
}

.contenedorinfo{
    width: 50%;
    padding: 10px;
}

.footer{
    text-align: center;
}


/* clases*/

.titulobanda{
    font-size: 20px;
    font-weight:600;
}

.titulos{
    font-size: 20px;
    font-weight:600;
    margin-top: 30px;
}

.subtitulos{
    font-size: 18px;
    font-weight: 550;
    margin-top: 10px;
}

.imgfreddie{
    margin: auto;
    width: 97%;
}

.barra{
    width: 100%;
    height: 10px;
    background-color: green;
    
}

.link{
    text-decoration: none;
    color: black;
    animation-name: links;
    animation-duration: 8s;
}



.numeros{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction:row;
}

.borde{
    border-bottom: gainsboro 2px double; 
}

.redes{
    margin-top: 20px;
    text-align: center;
    display: flex;
    
}

.imgredes{
    width: 35%;
    
}

.premios{
    margin-top: 5px;
}

.premiosu{
    margin-top: 3px;
    margin-bottom: 10px;
}


/*animaciones*/

@keyframes links {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

/* Disp. Grandes / 961-1200 */
@media screen and (min-width:961px) and (max-width:1200px){
	
	
}

/* Disp. Medianos / 561-960 */
@media screen and (min-width:561px) and (max-width:960px){


.contenedor{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    max-width: 540px;
}

.columnadatos{
    padding: 15px;
    width: 50%;
}

.contenedorinfo{
    margin: auto;
    width: 50%;
}

.imgfreddie{
    width: 90%;
    margin:auto;
}

.imgredes{
    width: 50%;
}

}



/* Disp. Pequeños / 0-560 */
@media (max-width:560px){
	
    .contenedor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 320px;
        margin: auto
    }
    
    .columnadatos{
        margin: auto;
        width: 87%;
    }
    
    .contenedorinfo{
        margin: auto;
        width: 90%;
    }
    
    .imgfreddie{
        width: 91%;
        
    }
    
    .imgredes{
        width: 35%;
    }
  
  


}
